<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Schedule</title>
</head>
<body>
    <h1>Class Schedule</h1>
    <form action="/schedule" method="post">
        <label for="campus">Campus:</label>
        <select name="campus" id="campus">
            <option value="Romeoville">Romeoville</option>
            <OPTION VALUE="ALB">Albuquerque</OPTION>
            <OPTION VALUE="COD">College of DuPage</OPTION>
            <OPTION VALUE="DLS">DeLaSalle Institute</OPTION>
            <OPTION VALUE="HIC">Hickory Hills</OPTION>
            <OPTION VALUE="JJC">Joliet Junior College</OPTION>
            <OPTION VALUE="KAB">Kirtland AirForce Base</OPTION>
            <OPTION VALUE="OBK">Oak Brook</OPTION>
            <OPTION VALUE="ONL">Online</OPTION>
            <OPTION VALUE="OFF">Other Off Campus Location</OPTION>
            <OPTION VALUE="ROM">Romeoville</OPTION>
            <OPTION VALUE="TPK">Tinley Park</OPTION>
            <OPTION VALUE="WIL">Wiley</OPTION>
        </select><br><br>
        <label for="instructor">Instructor:</label>
        <select name="instructor" id="instructor">
            <option value="Iyad Rock">Iyad Rock</option>
            <OPTION VALUE="A712E63849D1103523243231E0748FBF">Abeh, Humphrey </OPTION>
            <OPTION VALUE="BC38F46CF44004A421042FC531A518B4">Abraham, Philip </OPTION>
            <OPTION VALUE="33A212FDB416CC350BB663715F771A21">Abuomar, Osama Y</OPTION>
            <OPTION VALUE="D3C77E3BF8977F47DF17E83C1634BB42">Abu Zahra, Fuad </OPTION>
            <OPTION VALUE="466A2FB383B6647BD9D9158F96E8C4C9">Adeniji, Jude </OPTION>
            <OPTION VALUE="C8932672A5732A314FABB8EF285C6B53">Adeoye, Oladimeji </OPTION>
            <OPTION VALUE="DA68F867AD862528E5AC954A2030A3FA">Adrianzen, Lisa Marie</OPTION>
            <OPTION VALUE="C607869AAEE1BB4C3A20999B0FB52346">Agee, Nathan R</OPTION>
            <OPTION VALUE="3A9CE5AA2CB4B536B9C8FCAA3DD8006E">Alamiri, Raed </OPTION>
            <OPTION VALUE="4D2947F483709B39D6D7696914FB2521">Albright, Alvenia Rhea</OPTION>
            <OPTION VALUE="31103D35FE9BCD7012E7B8BC7DD86F4D">Al-Khassaweneh, Mahmood A</OPTION>
            <OPTION VALUE="1121B5934F5D59FE64A2443FA6D091F7">Allen, Tennille N</OPTION>
            <OPTION VALUE="B5A8EAE7BBD66D66C3ECD9B68C3EAC4A">Alonso, Janet </OPTION>
            <OPTION VALUE="AA74C747863A5328708E964948C1E0F0">Al Saeed, Imad </OPTION>
            <OPTION VALUE="DBABF26490F3542EE1EB7C9DE359060A">Al Sharif, Ziad Abdel Fattah Moh'D</OPTION>
            <OPTION VALUE="619A98BA5D31B3C6B88EC7DB12827686">Alshboul, Abdullah </OPTION>
            <OPTION VALUE="C8D2F2E0D96B0D259B2D6933FF2C4B0A">Alsmadi, Yazan </OPTION>
            <OPTION VALUE="B18A78928BFB4BC14E0E833B4CF67536">Alvarez, Angelica </OPTION>
            <OPTION VALUE="1B48D5D3A70DB95314E8346760811D8E">Alzoubi, Khaled M</OPTION>
            <OPTION VALUE="DEA0A0EF5FC2642F82431A0002F861C1">Anderson, David S</OPTION>
            <OPTION VALUE="AB21972F638E8BC20BA6953852F8A56A">Anderson, Edwin James</OPTION>
            <OPTION VALUE="55123300EEA293DB0C160B7457B39A2B">Anderson, Karen Jacquelyn</OPTION>
            <OPTION VALUE="E63BE0820DD6F63557529290762928BA">Antoniolli, Richard </OPTION>
            <OPTION VALUE="CBE8B0D5D9C4ECCDB48B0B0ACDBA467F">Anyanonu, Leslie </OPTION>
            <OPTION VALUE="48036BB48367CA68323B586BBCF1274F">Archos, Aristotelis G</OPTION>
            <OPTION VALUE="CC1A28452F8EBC1CE47C3E46C1D607DD">Ariri, Alex </OPTION>
            <OPTION VALUE="A2F51BE81D6F0414CE66E8A88F50AECA">Armenta, Raul </OPTION>
            <OPTION VALUE="E9E3E23031E6190385607CA7CAAC48E0">Armstrong, Miguel </OPTION>
            <OPTION VALUE="050D3BE3FCBE2352AF9D3413BE67C51E">Aspy, Robert O</OPTION>
            <OPTION VALUE="4E1C615F03EAB9311389046829F2FF70">Augsburger, Deborah J</OPTION>
            <OPTION VALUE="B411F9800EADF75F82EFD312A42956EA">Avery, Jamie </OPTION>
            <OPTION VALUE="749E55E503DE4C84FC4B587DF79D6E68">Awwad, Ahmad </OPTION>
            <OPTION VALUE="D4B5AE341A783991702536466CEC477B">Ayyash, Mousa S</OPTION>
            <OPTION VALUE="FDC18C894515DD05FD245A09D9DA430A">Bailey, Jeffrey </OPTION>
            <OPTION VALUE="FB454D605EE77E9399D602267AC94A55">Bailey, Marne J</OPTION>
            <OPTION VALUE="CA9A1F35D3BFCE721F4586515284FF96">Baker, Erik R</OPTION>
            <OPTION VALUE="36A6B5B6B25E591D0F9C0B38101A0D94">Barello, Rudolph V</OPTION>
            <OPTION VALUE="89AE7CD14E33F175613ACC3A076E0E59">Barker, Christine A</OPTION>
            <OPTION VALUE="4634981117C933FC4C88691E1E64F5F2">Bartolome, Aaron </OPTION>
            <OPTION VALUE="F8BC0F3E7AB2658409780BB023EA2E2A">Basel, Tammy </OPTION>
            <OPTION VALUE="78C49BCEEAB3FD163310B859077967D9">Batmaz, Oguzhan </OPTION>
            <OPTION VALUE="CC6DD034E4551E5C3D9ADB7F067FFBD1">Bavaro, Kristie </OPTION>
            <OPTION VALUE="AF725112CAEC9032D4A71A470ECD9CBB">Belgio, Elizabeth </OPTION>
            <OPTION VALUE="004027903C61DB6B80A4668A3B925F5A">Bemben, Melanie </OPTION>
            <OPTION VALUE="E95B99C79C6F7A5EF9EB3B248E00395A">Berger, Matthew S</OPTION>
            <OPTION VALUE="CACD7B09D351A07B288EF87CAEAFD097">Bergman, Robert </OPTION>
            <OPTION VALUE="049A82F3EFB8303EAADCBB250FED2400">Bessette, Colleen </OPTION>
            <OPTION VALUE="B625B91D8FA6A4A325E830C1A91F95ED">Bhat, Manoj M.</OPTION>
            <OPTION VALUE="69E9F92F30D655B26B852F6C3A9F8484">Billups, Christine A</OPTION>
            <OPTION VALUE="ABEB6221CC8D8CD0955716F57108D9D2">Bilodeau, Daniel </OPTION>
            <OPTION VALUE="1CEE0CA579A3AD42736AC134D1B0ACF0">Biryukov, Vadim </OPTION>
            <OPTION VALUE="B2C131B19DB5530F3882AB421C2B8D9A">Bixby, Teresa J</OPTION>
            <OPTION VALUE="954DBA19E1DC536E66ACBBB6842A2FD7">Blanchette, Michael </OPTION>
            <OPTION VALUE="D3624B219392A108D96473A20D654FF5">Blankenship, Philip </OPTION>
            <OPTION VALUE="DDDE70BB2D2E73406784C9D40A357C18">Blessman, Rosemary </OPTION>
            <OPTION VALUE="1A9FF0F37E9499EF554620A20AC26EA0">Blythe, Steven </OPTION>
            <OPTION VALUE="99B618C58AAD9E50F7DC02506F2177F1">Bobo, Tina Louise</OPTION>
            <OPTION VALUE="F7CE7FE7527BE15BF2AA14EDC32BA01A">Bohlin, Cathy M</OPTION>
            <OPTION VALUE="47AAAF3F221D97258F9FD3D0D8DDEFE8">Bonk, Teri A</OPTION>
            <OPTION VALUE="FFDA322555DF7B0656A764E496058A36">Bordenkircher, Lauren Elizabeth</OPTION>
            <OPTION VALUE="8850573DBBECFE3F0F16AA7F5A0AEF11">Borse, Robert J</OPTION>
            <OPTION VALUE="5FC721BB1C81C8E6262D3197F1ACE1F9">Bosworth, Jennifer Koss</OPTION>
            <OPTION VALUE="2654A6930BBACB4CC66DF9098BFE658E">Bouazizi, Nidhal </OPTION>
            <OPTION VALUE="B7C4C42F09403A9C85921901A6DB7407">Boysen, Sheila </OPTION>
            <OPTION VALUE="74D1D6CED09CD960F3735FC39CD23141">Bozec, Eron </OPTION>
            <OPTION VALUE="74B61EF8D225A50B631F067706255A99">Brady, Julie </OPTION>
            <OPTION VALUE="8BE1B90A8C4D7C021849B27A0EB750D0">Brady, Kevin </OPTION>
            <OPTION VALUE="75538580EBBEDD836D2172ECC4F5D2AA">Brady, Thomas P</OPTION>
            <OPTION VALUE="1CDC29000E5D15612E06384CDD057FDF">Braegelmann, Mara M</OPTION>
            <OPTION VALUE="2336B42ACD92F3547CD4F8B01EA5628B">Brignall, Thomas </OPTION>
            <OPTION VALUE="1E2AD6BEFD50C800D028EDB598F6F3EF">Bristow, Thomas </OPTION>
            <OPTION VALUE="1A84075E40C867BB1E0C1948A6593133">Brkovic, Erica </OPTION>
            <OPTION VALUE="37EBCAE032266398459E33D4708727FD">Brow, Meredith E</OPTION>
            <OPTION VALUE="6937BCDD79E845D6BA78BD186360CABA">Brown, Brian R</OPTION>
            <OPTION VALUE="B26DF9AF6FB2A3D70EC1609E906876B9">Brown, Lisa M</OPTION>
            <OPTION VALUE="DB55D1831B7FB3C3D586E75F5330D919">Brown, Sarah Drake</OPTION>
            <OPTION VALUE="61D48E9BC985BD44BE4F48694CD834BB">Bryant, Amanda C</OPTION>
            <OPTION VALUE="D273A423EF3C8C11BCDEB6477B3DCAE9">Bryk, Melissa </OPTION>
            <OPTION VALUE="B86D0C1C44FFAF8882372C4A6E5D2A60">Bucher, Irene R</OPTION>
            <OPTION VALUE="DFAE898B43E8D5641C3E3EF87216AD75">Buntin, Jennifer J</OPTION>
            <OPTION VALUE="A18BC8CAC294B96A6185383C72BBD0C5">Burciaga, Liliana </OPTION>
            <OPTION VALUE="2B3F42DB2F35766DEADB39DBEC532C7F">Burke, Richard </OPTION>
            <OPTION VALUE="E73B727F83FFCDA9F566E9799CDEA245">Burke, Timothy </OPTION>
            <OPTION VALUE="286886BEEEDC801BE65FD9E33FCDEB4B">Burns, Charles P</OPTION>
            <OPTION VALUE="D0E8A8C8AB03276F84A3F9C24F3D7181">Bylsma, Nathan </OPTION>
            <OPTION VALUE="765B24E92CEA505B6064C4A1C295DD34">Calhoun, Ann Elizabeth</OPTION>
            <OPTION VALUE="731830331B4E50FC4A89A483272CAA32">Callahan, Kristin C</OPTION>
            <OPTION VALUE="3B8B426D75A54F0D9D5B3747FBF369BB">Campbell, Spencer J</OPTION>
            <OPTION VALUE="A4ED1DEA6680C6EF551230E9199F6B93">Canzonetta, Jordan N</OPTION>
            <OPTION VALUE="08122BBEC762A8D42326170F7C52BDF5">Carey, John P</OPTION>
            <OPTION VALUE="6E6AFB6743ECA6BD1A29D817F54A8E07">Carroll, Chad </OPTION>
            <OPTION VALUE="99F83091E17B61A35771844187612709">Castillo, Jasmine </OPTION>
            <OPTION VALUE="8175E4A449F8E9B5F8804378F979A295">Charles, Mary W</OPTION>
            <OPTION VALUE="4EB14A2C087CA4880EF1EC51CEF9368A">Chaudhry, Ibrahim </OPTION>
            <OPTION VALUE="F5190AECBD72605CF33358E201B281C1">Chavez, Liseth </OPTION>
            <OPTION VALUE="28FA26532C3621778E9C4A63B97A0960">Chen, Wei </OPTION>
            <OPTION VALUE="83C00A6E4E167698143A50AC9CABCD07">Cherry, Michael </OPTION>
            <OPTION VALUE="6BDDA1E3073905C8CF245DF2CD85A8E2">Chipalo, Edson </OPTION>
            <OPTION VALUE="EAE0A1B02020F62C3C5FDC0224D5E66B">Cho, Jaeik </OPTION>
            <OPTION VALUE="74E18B8C18764CBC806B0ADBA28AA708">Chou, Eric Y</OPTION>
            <OPTION VALUE="9785F1AF5271CA0D4A22AA5783E1A4F1">Chumbley, Philip </OPTION>
            <OPTION VALUE="ACA9045D3DDA3E30F3A76D42F284733A">Cistone, James H</OPTION>
            <OPTION VALUE="DD86D6D6B1BBF50751941BBAF1084CAE">Clavelli, Matthew James</OPTION>
            <OPTION VALUE="C9A39E2DF6FB1C18E420B508E7D8053C">Clifford, E
        </select><br><br>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br><br>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br><br>
        <input type="submit" value="Filter">
    </form>
</body>
</html>


<!-- create me a flask app to  display the locations of universities on a map from plotly based on 
data which has class schedule of lewis university the data contains information such as 
id: 10
course_name: Cost Accounting
course_code: 80122
section: ACCT 32000
semester: Fall-2024
registration_dates: Apr 08, 2024 to Aug 26, 2024
level: Undergraduate
credit: 3
campus: Romeoville Campus
schedule_type: Lecture Schedule Type
instructional_method: Traditional Instructional Method
type: Class/Lecture
start_time: 1900-01-01 09:30:00
end_time: 1900-01-01 10:45:00
days: TR
location: St Charles Borromeo SB 106
start_date: 2024-08-26
end_date: 2024-12-14
lecture_type: Lecture
instructors: Iyad   Rock (P)

there can be filters such as each of those values mentioned above can be selected all or any one depending
upon that the map should display the university location with a marker on the map for these universities 
Romeoville         41.60687051879109, -88.07983952694718
Oak Brook          41.849704827990585, -87.94512755057589 
Albuquerque        35.107204505190644, -106.5675698175947        
College of DuPage  41.84120967960425, -88.07337229024918
Joliet Junior College 41.51043180472986, -88.17855687273331
Hickory Hills      41.716190756723314, -87.82041653073465
Tinely Park        41.55518054280682, -87.7934635460868
Wiley 
Delasalle  Institute  41.832067141381835, -87.62349493257821

and below the map the class schedules must be shown under each university heading add css and html to make it look clean  -->

<!-- create an app first with just filters and data to display from class schedule Mysql DB where table name  is course here is the structure of the DB CREATE TABLE `course` (
  `id` int NOT NULL AUTO_INCREMENT,
  `course_name` varchar(100) DEFAULT NULL,
  `course_code` varchar(50) DEFAULT NULL,
  `section` varchar(10) DEFAULT NULL,
  `semester` varchar(15) DEFAULT NULL,
  `registration_dates` varchar(50) DEFAULT NULL,
  `level` varchar(15) DEFAULT NULL,
  `credit` int DEFAULT NULL,
  `campus` varchar(100) DEFAULT NULL,
  `schedule_type` varchar(100) DEFAULT NULL,
  `instructional_method` varchar(100) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `days` varchar(50) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `lecture_type` varchar(100) DEFAULT NULL,
  `instructors` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
)  each of them should be there make dates from date picker and time from time picker you already know the campus list display instructor to select from  once user selects the data query should call the DB and fetch the data to display itn as class schedules for each campus  -->